.main {
  display: flex;
  justify-content: end;
  margin-bottom: 2rem;
}

.logo {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: .1rem;
  text-transform: uppercase;
  margin: auto auto auto 2rem;
  cursor: pointer;
}

.buttonAuth {
  margin-left: auto;
  display: flex;
}